<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>

  <targets>
    <target xsi:type="File" name="file" fileName="${specialfolder:folder=MyDocuments}/Lorule/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=toString}" />
    <target type="ApplicationInsightsTarget" name="aiTarget" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="aiTarget" />
  </rules>
</nlog>