<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http:" xmlns:xsi=" http:" autoReload="true">
  <targets>
    <target xsi:type="File" name="file" fileName="${specialfolder:folder=MyDocuments}/Lorule/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=toString}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>