*.suo
*.user
_ReSharper.*
bin
obj
packages
Darkages\bin
Darkages.Server\bin
DarkagesLauncher\bin
Darkages\obj
Darkages.Server\obj
DarkagesLauncher\obj
Staging
Staging\*
*.vs
*.vs\*
.vs
vs
aislings
aislings\*
.git
git\*




*.ide-wal
*.lock
*.ide
*.ide-shm
